*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    background-color: #06377b;
    display: flex;
    height: 15%;
}

#cabecalho-global{
    display: grid;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width: 80%;
    height: 18vh;
}

img{
    width: 200px;
    border-bottom: 20%;
    display: grid;
}

#rede-social{
    color: #000000;
    background-color: rgb(255, 255, 255);
    }   
    
 #menu{
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    padding-left: 7px;
    left: 200px;
    bottom: 479px;
    width: 100%;
}
.btn-home {

    display: flex;
    padding: 15px;
    margin-top: 63px;
    width: 60px;
    height: 30px;
}

.btn-home a{

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

body{

    background-color: #D6EDF9;

}

.container{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 70%;
    padding-top: 50px;

}

.box-principal{
    background-color: #0056A8;
    border: 2px solid black ;
    border-radius: 30px;
    width: 700px;
    height: 465px;
    padding-top: 60px;
    
   
}

.box{
    text-align: center;
    background-color: #FFFFFF;
    width: 500px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 13%;

}

footer{
    grid-area: footer;
    background-color: #06377B;
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    display: flex;
    color: #fff;
    padding: 30px;
    height: 15%;
    
}