*{padding: 0;margin: 0;box-sizing: border-box;}

header{
    background-color: #06377b;
    display: flex;
}

#cabecalho-global{
    display: grid;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width: 80%;
    height: 18vh;
}

img{
    width: 200px;
    border-bottom: 20%;
    display: grid;
}

#rede-social{
    color: #000000;
    background-color: rgb(255, 255, 255);
    }   
    
    body{
        background-color: #D6EDF9;
    }

#menu{
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    padding-left: 7px;
    left: 200px;
    bottom: 479px;
    width: 100%;
}
.btn-home {
    display: flex;
    padding: 15px;
    margin-top: 63px;
    width: 60px;
    height: 30px;
}
.btn-home a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 50px;
    background-color: #06377b;
    display: flex;
    color: #ffffff;
    padding: 30px;
}

#imagem-1{
    display: flex;
    width: 420px;
    position: absolute;
    right: 0px;
}

.fields{
    border-radius: 10%;
    display: block;
    width: 200px;
}

#login{
display: block;
width: 300px;
text-decoration: none;
position: absolute;
bottom: 350px;
border-color: #000000;
position: fixed;
left: 120px;
}

#login-2{
display: block;
width: 300px;
text-decoration: none;
position: absolute;
bottom: 270px;
border-color: #000000;
position: fixed;
left: 120px;
}

input{
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 10px;
    width: 300px;
}

button{
    background-color: #008ED4;
    color: #ffffff;
    height: 35px;
    border-radius: 10px;
    width: 220px;
    transition: 400ms;
}
button:hover{
    background-color: #015641;
    border-radius: 50px;



}


#botao-entrar{
    display: block;
    width: 300px;
    text-decoration: none;
    position: absolute;
    bottom: 200px;
    border-color: #000000;
    position: fixed;
    left: 155px;
}

#bemvindo{
    position: absolute;
    bottom: 430px;
    left: 110px;
}

#acesso{
    display: block;
    width: 300px;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
    border-color: #000000;
    position: fixed;
    left: 200px;
}

#btn-1{
 background-color: #06377b;
}

