*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    background-color: #06377b;
    display: flex;
}

#cabecalho-global{
    display: grid;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width: 80%;
    height: 18vh;
}

img{
    width: 200px;
    border-bottom: 20%;
    display: grid;
}

#rede-social{
    color: #000000;
    background-color: rgb(255, 255, 255);
    }   
    

#menu{
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    padding-left: 7px;
    left: 200px;
    bottom: 479px;
    width: 100%;
}
.btn-home {
    display: flex;
    padding: 15px;
    margin-top: 63px;
    width: 60px;
    height: 30px;
}
.btn-home a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

body{

    background-color: #008ED4;

}

h3{
<<<<<<< HEAD
    color: #fff;
=======

>>>>>>> 41a58ff2db0b2527925ba071c784753934b7712e
    text-align: left;
    text-transform: lowercase;
    letter-spacing: 5px;
    max-width: 50%;
    margin: 10px;

}

.doutora{
    background-image: url('../img/perguntas-frequentes.png');
    background-size: cover;
    display: flex;
    width: 500px;
    height: 490px ;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: -600px;

}

footer{
    grid-area: footer;
    background-color: #06377B;
    position: absolute;
    bottom: -390px;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    display: flex;
    color: #fff;
    padding: 30px;
    height: 15%;
    
}