*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    background-color: #06377b;
    display: flex;
}

#cabecalho-global{
    display: grid;
    position: absolute;
    right: 0;
    padding-right: 50px;
    width: 80%;
    height: 18vh;
}

img{
    width: 200px;
    border-bottom: 20%;
    display: grid;
}

#rede-social{
    color: #000000;
    background-color: rgb(255, 255, 255);
    }   
    

#menu{
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    padding-left: 7px;
    left: 200px;
    bottom: 479px;
    width: 100%;
}
.btn-home {
    display: flex;
    padding: 15px;
    margin-top: 63px;
    width: 60px;
    height: 30px;
}
.btn-home a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

body{

    background-color: #008ED4;

}

#titulo1{

     color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    position: absolute;
    bottom: -30px ;

}

#titulo2{

    color: #fff;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 25px;
   position: absolute;
   bottom: -130px ;

}

#titulo3{

    color: #fff;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 25px;
   position: absolute;
   bottom: -250px ;
   

}

#text1{

    color: #fff;
    text-align: justify ;
    letter-spacing: 3px ;
    font-size: 20px;
    position: absolute;
    bottom: -80px;   

}

#text2{

    color: #fff;
    text-align: justify ;
    letter-spacing: 3px ;
    font-size: 20px;
    position: absolute;
    bottom: -200px; 

}

#text3{

    color: #fff;
    text-align: justify ;
    letter-spacing: 3px ;
    font-size: 20px;
    position: absolute;
    bottom: -300px;
     

}



footer{
    grid-area: footer;
    background-color: #06377B;
    position: absolute;
    bottom: -390px;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    display: flex;
    color: #fff;
    padding: 30px;
    height: 15%;
    
}